body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

:root {
  --custom-green: rgb(3, 92, 3);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--custom-green);
}

header h1 {
  padding-left: 4rem;
}

header figure {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header figcaption {
  font-size: 1.5rem;
  margin-top: 10px;
}

header img {
  display: block;
  width: 50%;
  height: 300px;
  object-fit: cover;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  padding-bottom: 20px;
}

.pagination-button {
  margin: 0;
  width: 12rem;
  height: 4rem;
  color: var(--custom-green);
  border: 1px solid var(--custom-green);
  border-radius: 5px;
  font-size: 2rem;
}

.pagination-button[disabled] {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  border: gray;
}

.pagination-button:not([disabled]):hover {
  background-color: var(--custom-green);
  color: white;
  cursor: pointer;
}

#parks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.state-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--custom-green);
}

#state-select {
  width: 50%;
  font-size: 2rem;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  box-sizing: border-box;
}

option {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  box-sizing: border-box;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid rgb(3, 92, 3);
  color: var(--custom-green);
  padding: 10px;
  box-shadow: 0 2px 10px rgba(8, 161, 100, 0.741);
  overflow: auto;
  margin: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  text-align: center;
}

.pop-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.pop-up-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 100%;
  color: var(--custom-green);
}

#pop-up-info {
  font-size: 200%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 50%;
  border: none;
}

#pop-up-img-container {
  width: 25rem;
  overflow: hidden;
  margin: 20px auto;
  border: 2px solid var(--custom-green);
  border-radius: 10px;
}

#pop-up-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#park-url {
  color: var(--custom-green);
  font-size: 2rem;
  text-decoration: none;
  margin: 10px;
}

#park-url:hover {
  color: rgba(74, 213, 74, 0.789);
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }

  h1 {
    font-size: 1.5rem;
  }

  header figcaption {
    font-size: 1rem;
  }

  .state-select label {
    font-size: 1.5rem;
  }

  header img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #state-select {
    width: 100%;
    font-size: 1.5rem;
  }

  option {
    width: 100%;
    font-size: 1.5rem;
  }

  .pagination-button {
    width: 75px;
    height: 30px;
    font-size: 1rem;
  }

  .pop-up-content {
    width: 80%;
    /* height: 90%; */
    overflow: auto;
  }

  #pop-up-img-container {
    width: 100%;
  }

  #pop-up-info {
    font-size: 100%;
  }

  #park-url {
    font-size: 1.25rem;
  }

  /* Prevent body from scrolling when pop-up is active */
  body.no-scroll {
    overflow: hidden;
    height: 100vh;
    touch-action: none;
  }
}
